html, body{
    height:100%;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 50px;
}
.heading, .heading-list{
    padding: 0px 10px 0px 10px;
    display: inline;
   float: right;
}
ul li{
    list-style: none;
    display: inline;
    line-height: 50px;
}
.carousel-item {
    height: 300px;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }
.grid img{
    width: 400px;
    height: auto;
}
.grid img{
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 2px;
    transition: all 1s;
    cursor: pointer;
}
.grid img:hover{
    transform: scale(1.1)
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grow{
    flex-grow: 2;
}